# Tell GitHub Linguist to treat Dart as main
*.dart linguist-detectable=true
*.h linguist-detectable=false
*.cc linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.swift linguist-detectable=false
*.cmake linguist-detectable=false
*.html linguist-detectable=false
